// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%
}
.container{
	width:90%;
	padding:5%;
	@media (max-width:800px){
		width:80%;
			
	}
	@media (max-width:500px){
		width:100%;
	}
}
/*variables mixinsins here*/
@greycolor:silver;
@boldfont:bold;
@fontfamily:'Dancing Script', cursive;
@fontsize:2.5rem;
@fontsizetablet:1.8rem;
@fontsizemobile:1.4rem;
@backgroundColor:lightgrey;
@backgroundcolor2:#696969;
@hoverbackground:Red;


.navigation(@greycolor,@boldfont ){
display:flex;
color:@greycolor;
font-weight: @boldfont;
justify-content: flex-end;
align-content: space-around;
width: 90%;

}

.navigationanchors(){
	text-decoration: none;
	font-size:3.5rem;
	
}
.Pfomat(@fontsize,@fontfamily){
	font-size:@fontsize;
	font-family: @fontfamily;
	@media (max-width:800px){
		font-size:@fontsizetablet;
			
	}
	@media (max-width:500px){
		font-size:@fontsizemobile;
			
	}

}
.imagesfomat(){
	width:15%;
	margin-top:3%;
	margin-left:1.5%;
	margin-bottom:1%;
	
}

.headers(){
	font-weight:bold;
		margin-bottom:2%;
		border:1px solid grey;
		width:30%;
		padding:2%;
		background-color:@backgroundcolor2;
		color:white;
		border-radius: 12px;
		font-family:@fontfamily;
		
		
}
/*regular css here*/
header{
background-color:@backgroundcolor2;
margin-bottom:2%;
padding:2%;


	nav{
		.navigation(@greycolor,@boldfont);
		@media(max-width:500px){
			flex-direction:column;

			
		}
		
		
	}
	nav a{
		.navigationanchors();
		margin-right:2%;
		margin-bottom:2.5%;
		color:white;
		font-family:@fontfamily;
		@media (max-width:800px){
			font-size:@fontsizetablet;
			text-align: center;
			}	
			@media (max-width:500px){
				font-size:@fontsizemobile;	
			}
	}
	nav a:hover{
background-color:@hoverbackground;
padding:0.3%;
border-radius:100%;
	}
}
.uppersection{
	background-color:lightgrey;
	font-family:@fontfamily;
	.profilepic{
		.imagesfomat();
	}
	h1{
		font-size:5rem;
		margin-left:1%;
		
		@media (max-width:800px){
			font-size:2rem;
			font-weight:bold;
			
		}	
		@media (max-width:500px){
			font-size:1.5rem;
		}
		
	}
h4{
	font-size:2.5rem;
	margin-top:1%;
	margin-bottom:1.5%;
	margin-left:1%;
	@media (max-width:800px){
		font-size:1.5rem;
		font-weight:bold;
		
	}	
	@media (max-width:500px){
		font-size:1rem;
	}
	
	
}
p {
	.Pfomat(@fontsize,@fontfamily );
	margin-top:1%;
	margin-bottom:1%;
	color:Black;
	margin-left:1%;
	font-weight:bold;
	font-family:@fontfamily;
	

}
button{
	margin-bottom:5%;
	padding:1% 3%;
	border-radius:8px;
	background-color: #696969;
	color:white;
	margin-left:1%;
	margin-top:1%;
	font-weight:bold;
	font-size:2rem;
	border-radius:60%;
	
	@media(max-width:750px){
		font-size:1.5rem;
	}
	@media(max-width:500px){
		font-size:1.25rem;
	}
	}
	button:hover{
		background-color:@hoverbackground;
	}
	hr{
		width: 95%;
	}
	
}
.middlesection{
	margin-top:3%;
	display:flex;
	font-size:@fontsize;
	justify-content: space-between;
	background-color:@backgroundColor;
	@media (max-width:750px){
		flex-direction:column;
		width:100%;
							
	}
		
	

	.learnAboutMe{
		width:50%;
		font-family:@fontfamily;

		@media (max-width:800px){
			font-size:@fontsizetablet;
			width:45%;
			
		}
		@media (max-width:750px){
			font-size:@fontsizetablet;
			width:100%;
			
		}
		
	}
	.goodat{
		width:50%;
		font-family:@fontfamily;
		@media (max-width:800px){
			font-size:@fontsizetablet;
			width:45%;
		}
		@media (max-width:750px){
			font-size:@fontsizetablet;
			width:100%;
			margin-top:1%;
		}
	}
	h2, h3{
		.headers()

		}
	ul li{
		border:1px solid grey;
		padding:1%;
	}
	
}
.lowersection{
	font-size:@fontsize;
	font-weight:@boldfont;
	margin-bottom: 2%;
	margin-top:3%;
p{
	border:1px solid silver;
	width: 25%;
	
}	
h2{
	.headers();
	
}

table, th, td{
	border:1px solid black;
	padding: 0.5%;
	background-color:@backgroundColor;
	font-size:@fontsize;
	font-family:@fontfamily;
	@media (max-width:800px){
		font-size:@fontsizetablet;
			
	}
	
}
th{
	margin-left:0.25%;
}
td{
font-weight: normal;	
}

}

footer{

	font-size:2rem;;
	font-weight:@boldfont;
	background-color:@backgroundcolor2;
	padding:2.5%;
	text-align: center;
	color:white;
	font-family:@fontfamily;
	
}
